<form method="post" action="/Home/Calculate">
    <label for="number1">Number 1:</label>
    <input type="text" name="number1" id="number1">
    <br>
    <label for="number2">Number 2:</label>
    <input type="text" name="number2" id="number2">
    <br>
    <button type="submit">Calculate</button>
</form>
